<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.catalog_service.mapper.CatalogMapper">

    <select id="getCatalogAll" resultType="com.example.catalog_service.vo.ResponseCatalog">
        SELECT PRODUCT_ID, PRODUCT_NAME, STOCK, UNIT_PRICE
        FROM CATALOG
    </select>

</mapper>